@import url('reset.css');
@import url('font.css');

*{  
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
h2{
    font-size: 60px;
    font-weight: 700;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F5;
    gap: 24px;
}
main{
    width: 1440px;
    height: 1345px;
    display:flex;
    flex-direction: column;
    gap: 24px;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 1488px;
    height: 70px;
    padding: 0 24px;
}
.nav-links{
    display:flex;
    gap: 12px;
}
.nav-link{
    color: black;
}
.nav-link-banner{
    color: white;
    background-color: black;
    border-radius: 14px;
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-button{
    display:flex;
    color: black;
    align-items: center;
    justify-content: center;
    padding: 7px 32px;
    height: 50px;
    background-color: #0077FF;
    border-radius: 14px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.banner{
    gap:12px;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/images/M_OfferTitle.png");
    border-radius: 24px;
    h2{
        text-align: center;
        font-size:60px ;
    }
}
.wrap{
    width: 952px;
    height: 1000px;
    display:flex;
    flex-wrap: wrap;
    gap: 12px;
    flex-shrink: 2;
}
.card{
    width: 464px;
    height: 319px;
    display:flex;
    padding: 24px;
    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
    flex-direction: column;
}
.row-cards{
    display:flex;
    gap: 24px;
    width: 1440px;
    height: 981px;
}
.text-card{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.place{
    display:flex;
    gap: 9px;
    font-size: 16px;
    font-weight: 600;
}
.vacation{
    display:flex;
    gap:17px;
    font-size: 36px;
    font-weight: 400;
}
.city{
    display:flex;
    gap: 9px;
    font-size: 16px;
    font-weight: 400;
}
.loc-flag{
    color:#818181;
    display:flex;
    gap: 9px;
    width: 210px;
    height: 20px;
}


.tags{
    width: 322px;
    height: 35px;
    display:flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    color:white;
    p{
        height: 35px;
        background-color: #0077FF;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 10px 6px;
    }
}
.left-column{
    width: 464px;
    height: 680px;
    border-radius: 24px;
    padding: 24px;
    gap:24px;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.search{
    width: 416px;
    height: 50px;
    background-color: #F4F4F5;
    border-radius: 12px;
    padding: 12px;
    display:flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #E4E4E7;
}
.format{
    width: 416px;
    height: 64px;
    gap:10px;
    display: flex;
    flex-direction: column;
    h3{
        font-size: 16px;
        font-weight: 600;
    }
}
.format-tags{
    display: flex;
    gap: 6px;
    p{
        background-color: #F4F4F5;
        color:#A1A1AA;
        border-radius: 8px;
        padding: 6px 10px;
        height: 35px;
    }

}
.cities-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3{
        font-size: 16px;
        font-weight: 600;
    }
}
.cities{
    width: 416px;
    border-radius: 12px;
    padding: 12px 10px;
    display: flex;
    gap: 6px;
    flex-direction: column;
    background-color: #F4F4F5;
}
.city-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
    padding: 4px 0 4px 0;
    p{
        font-size: 16px;
        font-weight: 400;
    }
    div{
        height: 22px;
        width: 22px;
        border-radius: 4px;
        background-color: #E4E4E7;
    }
}
.salary{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3{
        font-size: 16px;
        font-weight: 600;
    }
}

.min-max{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    p{
        width: 196px;
        height: 50px;
        background-color: #F4F4F5;
        border-radius: 12px;
        display: flex;
        padding: 12px; 
        align-items: center;
        border: 1px solid #E4E4E7;

    }
}
.line{
    width: 1px;
    height: 22px;
    background-color: #E4E4E7;
}
footer{
    width: 1440px;
    height: 400px;
    border-radius: 24px;
    padding: 36px;
    background-image: url("../assets/images/BG.png");
    background-color: white;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
.left-txt-footer{
    width: 684px;
    height: 160px;
    display:flex;
    p{
        color: white;
        background-color: #0077FF;
        background-size: 286px 44px;
        border-radius: 14px;
        font-weight: 400;
        font-size: 20px;
        background-position: left;
    }
}
.right-txt-footer{
    width: 684px;
    height: 160px;
    p{
        font-weight: 400;
        font-size: 24px;
    }
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.all-txt-footer{
    width: 1368px;
    height: 160px;
    display: flex;
    flex-direction: row;
}
